{% extends 'layout.html' %} 
{% block title %}Cart | Distinctive Bedstore {% endblock %}
{% block content %}
    <section class="cart_first">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <h2 class="text-start">basket</h2>
                </div>
                <div class="col-lg-8">
                    <a href=""><img src="/static/assets/img/Finance-Options-Available-4-1.png" class="img-fluid" alt=""></a>
                </div>
            </div>
            <!-- <p class="empty_text">Your basket is currently empty.</p> -->
        </div>
    </section>
    <section class="cart_btn">
        <a href="/shop" class="btn">return to shop</a>
    </section>
    <section class="cart_product">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Product</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Quantity</th>
                                <th class="text-center">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in cart_items %}
                            <tr>
                                <td><img width="80" src="/static/assets/img/products/{{i.image}}" alt=""></td>
                                <td class="product_details"><a href="#" class="cart_product_name">{{i.product_name}}</a> 
                                </td>
                                <td id="price-{{i.id}}" class="p-3">${{i.price}}</td>
                                <td><input onchange="return change_qty()" type="number" value="{{i.qty}}" class="numbers" name="" id="qty-{{i.id}}"></td>
                                <td class="p-3">$<span id="Subtotal-{{i.id}}"></span></td>
                            </tr>
                            {% endfor %}
                            <tr class="border-top border-dark">
                                <th><button type="button" class="update_basket">update basket</button></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <table class="table table-responsive">
                        <tbody>
                            <!-- <tr class="border-bottom">
                                <th class="p-3">Subtotal</th>
                                <td class="ps-4">$ <span id="Subtotal"></span></td>
                            </tr> -->
                            <!-- <tr class="border-bottom">
                                <th class="p-3">Shipping</th>
                                <td class="py2">
                                    <ul class="list-unstyled">
                                        <div class="form-check">
                                            <li><input type="radio" name="shipping" id="" value="">&nbsp;&nbsp;Flat
                                                rate:
                                                <b>$49.00</b>
                                            </li>
                                            <li><input checked type="radio" name="shipping" id="">&nbsp;&nbsp;Local Pickup</li>
                                        </div>
                                    </ul>
                                    <p class="ps-4">Shipping options will be updated during checkout.</p>
                                </td>
                            </tr> -->
                            <tr>
                                <th class="p-3">Total</th>
                                <td class="ps-4">$ <span id="Total"></span></td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#" class="proceed_btn">proceed to checkout</a>
                </div>
            </div>
        </div>
    </section>
    <section class="cart_discount">
        <div class="container-fluid">
            <div class="col-lg-6 py-3 border-primary border my-2">
                <form action="" method="post">
                    <label for="" class="form_label text-start">Discount Code:</label>
                    <input type="text" class="applyinput" name="" id="" placeholder="Discount Code">
                    <input type="submit" value="Apply Code" class="applybtn">
                </form>
            </div>
        </div>
    </section>
    <section class="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-start d-flex justify-content-around">
                    <i class="fa-solid fa-envelope-open-text"></i>
                    <h2 class="ps-4">signup to our newsletter</h2>
                </div>
                <div class="col-lg-6">
                    <div class="newslatter-item">
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Enter Your Mail" />
                            <button type="button">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        var cartItems = {{ cart_items|tojson }};
        for (var i = 0; i < cartItems.length; i++) { 
            console.log(cartItems[i])
            subtotal = cartItems[i]['price'] * cartItems[i]['qty']
            subtotal_span = document.getElementById("Subtotal-"+cartItems[i]['id']).innerHTML=subtotal;
            // subtotal2_span = document.getElementById("Subtotal").innerHTML={{total}};
            total_span = document.getElementById("Total").innerHTML={{total}};
        }

        function change_qty(){
            Total = 0
            for (var i = 0; i < cartItems.length; i++) { 
            console.log(cartItems[i])
            subtotal = cartItems[i]['price'] * document.getElementById("qty-"+cartItems[i]['id']).value;
            Total = Total + subtotal
            subtotal_span = document.getElementById("Subtotal-"+cartItems[i]['id']).innerHTML=subtotal;
        }
        
            // subtotal2_span = document.getElementById("Subtotal").innerHTML=Total;
            total_span = document.getElementById("Total").innerHTML=Total;  
        }

        
    </script>
    {% endblock %}