{% extends 'layout.html' %} 
{% block title %}Product Name | Distinctive Bedstore {% endblock %}
{% block content %}
    <section class="product_view">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <!-- <img src="/static/assets/img/product-detail-carousel/Untitled-design-89-1.png" alt=""> -->
                    <img src="/static/assets/img/products/{{product.image}}" alt="">
                </div>
                <div class="col-lg-6">
                    <h2>{{product.name}}</h2>
                    <p>{{product.description}}</p>
                    <h5>From:</h5>
                    <h4>&euro; {{ "{:,.0f}".format(product.price) }}</h4>
                    <h5>Or From &euro; 26.42 / Month</h5>
                    <hr class="mb-4">
                    <a href="" class="mt-4 buy-btn">buy now</a>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-2">
        <div class="container">
            <div class="benefit-items">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="/static/assets/img/card-img.png" alt="" />
                            </div>
                            <div class="sb-text">
                                <h6>buy now pay later</h6>
                                <p>12 months deferment*</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="/static/assets/img/wallet-img.png" alt="" />
                            </div>
                            <div class="sb-text">
                                <h6>lifetime guarantee</h6>
                                <p>on every product</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="/static/assets/img/check-img.png" alt="" />
                            </div>
                            <div class="sb-text">
                                <h6>30 day money back</h6>
                                <p>guarantee</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="/static/assets/img/swatch-img.png" alt="" />
                            </div>
                            <div class="sb-text">
                                <h6>order free</h6>
                                <p>swatches &amp; brochure</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="product_services">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 text-center">
                    <img src="/static/assets/img/product-detail-carousel/dc_icon_van.svg" width="135" height="135" alt="">
                    <h3>assembly</h3>
                    <p>We can deliver it straight to you,
                        and takeaway all the packaging.</p>
                </div>
                <div class="col-lg-4 text-center">
                    <img src="/static/assets/img/product-detail-carousel/dc_icon_calendar.svg" width="135" height="135" alt="">
                    <h3>lifetime guarantee</h3>
                    <p>We're that confident - we give you a lifetime guarantee on our sofas*</p>
                </div>
                <div class="col-lg-4 text-center">
                    <img src="/static/assets/img/product-detail-carousel/dc_icon_badge.svg" width="135" height="135" alt="">
                    <h3>12 month cover warantee</h3>
                    <p>Rest assured that your new sofa covering is protected against any defects for 12 months.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="trusted">
        <div class="container justify-content-center">
            <h2 class="text-center">trusted by our customers</h2>
            <div class="text-center">
                <i class="fa-solid fa-star"></i><span>Trustpilot</span>
            </div>
            <div class="text-center">
                <i class="fa-solid fa-star five"></i>
                <i class="fa-solid fa-star five"></i>
                <i class="fa-solid fa-star five"></i>
                <i class="fa-solid fa-star five"></i>
                <i class="fa-solid fa-star-half-stroke five"></i>
            </div>
            <div class="text-center">
                <span class="text_left">TrustScore <b>4.5</b></span>
                <span class="text_right"><b>613</b> reviews</span>
            </div>
        </div>
    </section>
    <section class="card_section">
        <div class="container-fluid">
            <h2 class="text-center">why you'll love<br> distinctive bedstore</h2>
            <div class="row">
                <div class="col-lg-4">
                    <img src="/static/assets/img/Polaroid_1.png" alt="">
                    <h3 class="text-center">handmade in yorkshire</h3>
                    <p class="text-center">
                        All of our sofas are handcrafted by our expert team based in Yorkshire. At Distinctive bedstores
                        we
                        pride ourselves on the personal touch. From manufacture to delivery - it's personal with us.
                    </p>
                </div>
                <div class="col-lg-4">
                    <img src="/static/assets/img/Polaroid_2.png" alt="">
                    <h3 class="text-center">lifetime guarantee</h3>
                    <p class="text-center">Here at Distinctive bedstores, because we are so confident in the quality and
                        build
                        of our sofas, we give a lifetime guarantee on all our sofas*</p>
                </div>
                <div class="col-lg-4">
                    <img src="/static/assets/img/Polaroid_3.png" alt="">
                    <h3 class="text-center">designed by us</h3>
                    <p class="text-center">Our love of craft and design inspires us every day. Our expert designers care
                        about
                        every detail, from the studs to the wood finish. It's about creating amazing bedstore sofas that
                        stand
                        the test of time, whilst retaining iconic style.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="british_design">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="/static/assets/img/Map_v2.0-1.png" alt="">
                </div>
                <div class="col-lg-6">
                    <h2>BRITISH DESIGN, AND HANDCRAFTED EXCELLENCE LOVED BY CUSTOMER ALL OVER THE WORLD</h2>
                    <p>At Distinctive bedstore, we have stores all around the world. We're on a mission to give the
                        world a
                        taste of the distinct nature of our products.</p>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}